In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('Z:\Hubway\\output\\combinedfile.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1,2,3,4,5,6,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
df.tail()

,Unnamed: 0,Zip code,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
6390477,767236,NaN,B00149,NaN,C32008,42.3488,-71.0824,Boylston at Fairfield,NaN,M32011,42.365070,-71.103100,Central Square at Mass Ave / Essex St,7/1/2014 0:06,7/1/2014 0:18,718197,Customer
6390478,767237,NaN,B00268,NaN,A32012,42.3523,-71.1238,Packard's Corner - Comm. Ave. at Brighton Ave.,NaN,B32018,42.347265,-71.088088,Boylston / Mass Ave,7/1/2014 0:03,7/1/2014 0:18,937588,Customer
6390479,767238,NaN,B01566,NaN,C32012,42.3307,-71.057,Andrew Station - Dorchester Ave at Humboldt Pl,NaN,B32014,42.348833,-71.041747,Seaport Hotel,7/1/2014 0:03,7/1/2014 0:21,1066870,Customer
6390480,767239,NaN,B00413,NaN,C32012,42.3307,-71.057,Andrew Station - Dorchester Ave at Humboldt Pl,NaN,B32014,42.348833,-71.041747,Seaport Hotel,7/1/2014 0:02,7/1/2014 0:21,1159926,Customer
6390481,767240,2171,T01025,NaN,M32037,42.3625,-71.0882,Ames St at Main St,Male,M32002,42.366277,-71.091690,One Kendall Square at Hampshire St / Portland St,7/1/2014 0:00,7/1/2014 0:03,156284,Subscriber

In [26]:
df = df.sort_values(['bikeid'])
df.head()

TypeError: '<' not supported between instances of 'str' and 'int'

In [6]:
id = df.bikeid.unique()

In [12]:
#Create a dataframe of summary data
dfbike = pd.DataFrame([])
temp = df[df.bikeid==1]

In [15]:
x = temp['start station latitude'].nunique()
y = temp['start station longitude'].nunique()
print(x,' ',y)

231   231

In [16]:
temp['start station name'].nunique()

258

In [18]:
x = pd.Series([1,2,3], index=['one', 'two', 'three'])
y = pd.Series(['foo', 'bar', 'baz'], index=[1,2,3])